body {
    font-family: sans-serif, serif;
    color: dimgray;
    background-image: url("background.jpg");
    background-attachment: fixed;
    line-height: 1.5;
    font-size: 12pt;
}
div.blog {
    max-width: 50%;
    margin-left: 25%;
    background-color: #ffffff;
    border: 30px solid white;
}
div.form {
    border-left: 20px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 10px solid transparent;
}
pre.note {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    background-color: #ddffee;
    border-color: #dddddd;
    line-height: 1.5;
    margin-top: 12pt;
    margin-bottom: 12pt;
    padding: 0;
}
div.notice {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-weight: bold;
    background-color: #ff9999;
    text-align: center;
}
pre.code {
    font-family: courier;
    padding: 12px;
    line-height: 1.2;
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
}
pre.faint_code {
    font-family: courier;
    padding: 12px;
    line-height: 1.2;
    border: 1px;
    border-style: solid;
    color: #aaaaaa;
}
hr {
    border: solid 1px #ccaabb;
}
* {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    text-align: justify;
}
th.colheader
{
    background-color: #dddddd;
}
h1 {
    text-align: left;
}
